main{
    display: flex;
    flex-direction: column;
}

main .bio{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

main .bio .eu{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url(../../assets/Eu.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main .bio .texto{
    width: 650px;
    height: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    font-size: 17px;
}

main .bio .texto p{
    color: #fff;
}

main .trabalho{
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-bottom: 1px solid #0C0D0C;
    flex-direction: column;
}

main .trabalho .textoD{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .trabalho .textoD p{
    font-size: 20px;
 }

main .trabalho .desing .imgCortada img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    padding: 20px;
}

main .trabalho .textoD a{
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #000;
    z-index: 1;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;   
}

main .trabalho .textoD a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #000;
    z-index: -1;
    transition: all 250ms
}

main .trabalho .textoD a:hover{
    color: #e8e8e8;
}

main .trabalho .textoD a:hover::before {
    width: 100%;
}

.resto{
    color: #fff;
    font-size: 30px;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.resto h1{
    transition: 1s;
}

.resto h1:hover{
    transition: 1s;
    color: #A60321;
}

.projetos{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.barraPesquisa{
    line-height: 30px;
    border: 4px solid transparent;
    border-bottom-color: #A60321;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0C0D0C;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.barraPesquisa:focus-visible, .barraPesquisa:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border: 2px solid #0C0D0C;
}

.barraPesquisa::placeholder {
    color: #A60321;
}

.barraPesquisa:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.pesquisa{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
